body{
	background-color: #9A9787;
}
footer{
	text-align: center;
}
main{
	position: relative;
    left: 25%;
	max-width: 50%;
}
form{
	position: relative;
	padding-top: 20%;
}
div.button{
	text-align: center;
}
div p{
	text-align: center;
}
a{
	color: #64699B;
}
