<!DOCTYPE html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		
		<link href="static/favicon.ico" rel="icon">
		
		<link href="static/style.css" rel="stylesheet">
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<title>Konorth3 Finance : {% block title %}{% endblock %} </title>
	</head>

	<body >
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<span>Konorth3</span> <span>Finance</span>
			</a>
			<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
			{% if session.user_id %}
				{% block nav%}{% endblock %}
				<ul class="navbar-nav ml-auto mt-2"> 
					<li class="nav-item"><a href="\logout"class="nav-link">Вихід</a></li>
				</ul>			
			{% else %}
				{% block reg%}{% endblock %}
			{% endif%}
			</div>
		</nav>
        <main>
			{% block main %}{% endblock %}
		</main>
		<footer >
			Дані, надані <a href="https://iextrading.com/developer">IEX</a> безкоштовно. Переглянути <a href="https://iextrading.com/api-exhibit-a/">Умови використання IEX</a>.
		</footer>
		
	</body>
</html>
