{% extends "layout.html" %}
{% block scripts %}
	$(document).ready(function(){
		$("#login").click(function(e){
			e.preventDefault();
			showMessage("Зачекайте");
			$.ajax({
				method: "POST",
				url: "http://konorth-finance.herokuapp.com/login",
				data: {
					name: $("#name").val(),
					password: $("#password").val()
				},
				success: function(){
					showMessage("Зачекайте")
					window.location.href = "http://https://konorth-finance.herokuapp.com/"
				},
				statusCode: {
					1: function (){showMessage("Вкажіть ім'я!")},
					2: function (){showMessage("Вкажіть пароль")},
					3: function (){showMessage("Вказані ім'я і/або пароль хибні")},
					503: function (){alert("back")}
				}
			})
		});
	});
{% endblock %}
{% block title %}
	Вхід
{% endblock %}
{% block reg%}
<ul class="navbar-nav ml-auto mt-2">
	<li class="nav-item"><a href="\register"class="nav-link">Рєстрація</a></li>
	<li class="nav-item"><a href="\login"class="nav-link active">Увійти</a></li>
</ul>
{% endblock %}
{% block main %}
	<form action="/login" method="POST" >
		<div class="form-group" id="errMessage"></div>
		<div class="form-group" >
			<input name="name" id="name" type="text" placeholder="Імя користувача" autofocus class="form-control" required>
		</div>
		<div class="form-group">
			<input name="password" id="password" type="password" placeholder="Пароль" class="form-control" required>
		</div>
		<div class="button" id="login">
			<button class="btn btn-dark" type="submit"> Увійти </button>
		</div>
	</form>
{% endblock %}
