{% extends "layout.html" %}
{% block scripts %}
<script>
	$(document).ready(function(){
		var symbols = [];
		$.ajax({
			method: "GET",
			url: "https://cloud.iexapis.com/v1/ref-data/iex/symbols?token=sk_b788d92f696a4b178e516dd9dd84c1a5",
			success: function(data){
				for (list in data){
					symbols.push(Object.values(data[list])[0]);
				};
			}
		});
		symbol.oninput = function(){
			var inputedSymbol = symbol.value.toUpperCase()
			var indexNextSymbol = findFirstEntry(symbols, inputedSymbol);
			if (inputedSymbol === "") $("#list").html("");
			else if (indexNextSymbol !== null){
				var text = "";
				while (startsWith(symbols[indexNextSymbol], inputedSymbol)){
					text += "<tr onclick=inputValueAndHideTable('" + symbols[indexNextSymbol] +
							"')><td>" + symbols[indexNextSymbol] +" </td></tr>";
					indexNextSymbol++;
				}
				$("#list").html(text);
			}
			else if (indexNextSymbol === null) $("#list").html('<tr><td> Символ не знайдено! </td></tr>');
			$('#list').collapse('show');
		}
		$("#submit").click(function(e){
			e.preventDefault();
			$.ajax({
				method: "GET",
				dataType: "json",
				url: "http://127.0.0.1:5000/info",
				data: {
					symbol: $("#symbol").val()
				},
				success: function(data){
					$("form").html("<div class='form-group'><p> Акція " + data[0] + 
						"(" + data[2] + ") коштує $" + data[1] + ".</p></div>");
				},
				statusCode: {
					1: function(){
					e.preventDefault();
					showMessage("Такого символа неіснує")}
				}
			})
		});
	});
</script>
{% endblock %}
{% block title %}
	Ціна
{% endblock %}
{% block nav%}
<ul class="navbar-nav mr-auto mt-2"> 
	<li class="nav-item"><a class="nav-link active" href="\quote" class="nav-item">Ціна</a></li>
	<li class="nav-item"><a class="nav-link" href="\buy" class="nav-item">Купівля</a></li>
	<li class="nav-item"><a class="nav-link" href="\sell" class="nav-item">Продаж</a></li>
	<li class="nav-item"><a class="nav-link" href="\history" class="nav-item">Історія</a></li>
</ul>
{% endblock %}

{% block main %}
{% if request.method == "POST" %}
	<div class="form-group">
		<p>
        Акція {{symbol["name"]}} ({{symbol["symbol"]}}) коштує ${{symbol["price"]}}.
		</p>
	</div>
{% else %}
	<form action="/quote" method="POST">
		<div class="form-group" id="errMessage"></div>
		<div class="form-group">
			<input name="symbol" id="symbol" type="text" placeholder="Символ акції" autofocus class="form-control" required>
		</div>
		<div class="form-group">
			<table class="table table-striped">
				<tbody id="list">
				</tbody>
			</table>
		</div>
		<div class="button">
			<button id="submit" class="btn btn-dark" type="submit"> Ціна </button>
		</div>
	</form>
{% endif %}
{% endblock %}
